<footer class="site-footer">
    <div class="footer-content content">
            <a href="/index" class="nav-logo">
                <img class="site-logo" src="../assets/site-logo.svg">
            </a>        <div>
            <p><a class="email-link" href="mailto:sales@wellsrx.co">sales@wellrx.co</a></p>
            <p>
                <strong>WellsRX Sdn. Bhd.</strong> (1513765-W)<br/>
                23-1, Premier Suite, One Mont Kiara,<br/>
                No. 1, Jalan Kiara, Mont Kiara,<br/>
                50480 Kuala Lumpur, Malaysia.
            </p>
            <p class="copyright">© 2023. All rights reserved.</p>
        </div>
    </div>
</footer>