<section class="cta">
    <div class="content">
        <h3>How About You?</h3>
        <p>Let's discuss your fishing and recovery needs.</p>     
        <p>
            <a class="btn btn-primary" href="/contact">Contact Us</a>
        </p>
    </div>
</section>