---
title: Thank You
layout: 'base.njk'
---
<section class="content header-spacer">
    <h1>{{ title }}</h1>
    <h3>Your Message is delivered successfully!<img class="checkmark" src="../assets/checkmark.svg"></h3></h3>
    <p>Our team will get back to you swiftly.</p><br/>
    <p><a class="btn btn-primary" href="/index">Back to Home</a></p>
</section>
<section class="header-spacer"></section>